*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

}
:root{
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
    --LinearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--VeryLightGrayishBlue);
}

.pricing_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--VeryLightGrayishBlue);
    background-image: url(./images/bg-top.svg)  , url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: right top  , left bottom ;

}
.pricing_title{
    margin-bottom:  50px;
    text-align: center;
}
.pricing_title h1{
    color: var(--DarkGrayishBlue);
    margin-bottom: 30px;
    text-align: center;
}
.toggle{
    --width: 50px;
    --height: calc(var(--width)/2);
    --border-radius: calc(var(--height)/2);

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.toggle::before{
    content: "Annually";
    margin-right: 25px;
    color: var(--LightGrayishBlue);
}
.toggle::after{
    content: "Monthly";
    margin-left: 25px;
    color: var(--LightGrayishBlue);
    
}
.toggle__input{
    display: none;
}
.toggle__fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--LightGrayishBlue);
    transition: background 0.2s;

}
.toggle__input:checked ~ .toggle__fill{
    background: hsl(237, 63%, 64%);

}

.toggle__fill::after{
    content: "";
    position: absolute;
    top: 20%;
    right: 10%;
    height: 15px;
    width: 15px;
    background: var(--VeryLightGrayishBlue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill::after{
    transform: translateX(-25px)
}

.pricing_Card{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:900px){
    .pricing_Card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .pricing_title{
        margin-top: 30px;
    }
}
